
<form id="slide_destroy" action="/<%= @slide.id %>" method="post">
	<h1>are you sure you want to delete this slide?</h1>
	<input type="hidden" name="_method" value="delete" />
	<button>delete the slide</button> or <a href="/">Cancel</a>
</form>

<div id="slide_<%= @slide.id %>" class="slide">
	<div class="title"><%= @slide.title %> </div>
	<div class="body"><%= RedCloth.new(@slide.body).to_html %></div>
</div>
