<form id="slide_edit" action="/<%= @slide.id %>" method="post">
	<input type="hidden" name="_method" value="put" />
	<input type="text" name="slide[title]" value="<%= @slide.title %>" />
  <textarea name="slide[body]"><%= @slide.body %></textarea>
  <button>save changes to slide</button> or <a href="/#slide_<%= @slide.id %>">cancel</a>
</form>