<div id="slides">
<% @slides.each do |s| %>
	<div id="slide_<%= s.id %>" class="slide">
		<div class="title"><%= s.title %> </div>
		<div class="body"><%= RedCloth.new(s.body).to_html %></div>
	</div>
<% end %>
</div>