body {
	border:none;
	margin:0;
	padding:0;
	background:#000;
}

a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

form#slide_new,
form#slide_edit,
div.slide {
	display:block;
	width:800px;
	height:600px;
	background:#fff;
	margin:0 auto 0 auto;
	padding:20px;
}

form#slide_destroy {
	width:800px;
	background:red;
	color:#fff;
	margin:0 auto 0 auto;
	padding:20px;
}
form#slide_destroy a {
	color:#fff;
}


textarea,
input {
	font-size:55pt;
	width:776px;
	border:3px dotted #ccc;
	margin:0 0 20px 0;
	padding:10px;
}

a img {
	border:none;
}

hr {
	border:1px solid #ccc;
}

textarea {
	border:3px dotted #ccc;
	margin:0 0 20px 0;
	padding:10px;
	height:400px;
	font-size:45pt;
}

div#nav {
	position:fixed;
	top:0;
	left:0;
	width:200px;
	z-index:1;
	background:#fff;
	padding:20px;
	margin:20px;
}

div#nav ul {
	margin:0;
	padding:0;
	list-style:none;
}

div#nav ul li {
	padding:5px 5px 5px 20px;
	background:#eaeaea;
	margin:0 0 1px 0;
	height:22px;
	line-height:22px;
}
div#nav ul li a {
	
}	
div#nav ul li a:hover {
	text-decoration:none;
}

div.slide {
	margin:0 auto 200px auto;
}

div.slide div.title {
	font-size:55pt;
	margin:0 0 20px 0;
}
div.slide div.body {
	font-size:45pt;
}